:root {
  font-family: var(--n-font-family);
  font-feature-settings: var(--n-font-features);
  font-weight: var(--n-font-weight);
  line-height: var(--n-line-height);
  color: var(--n-color-text);
  background-color: var(--n-color-surface);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-inline-size: 320px;
  min-block-size: 100vh;
}
